---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import H1 from "../components/H1.astro";
import H3 from "../components/H3.astro";
import CTA from "../components/CTA.astro";
import Paragraph from "../components/Paragraph.astro";
import BentoGrid from "../components/BentoGrid.astro";
import Sample1 from "../assets/images/Training-organization.jpg";
import { Image } from "astro:assets";
import H2 from "../components/H2.astro";
const title = `Tentang`;
---

<Layout Pagetitle={title}>
  <Section direct="about">
    <div class="pt-36 px-4 sm:px-8 md:px-16 lg:px-72">
      <H1 text="TENTANG" mode="center" />
      <Paragraph
        text="Beragam dalam Peran, Bersatu dalam Tujuan"
        mode="center"
      />
    </div>
    <BentoGrid />
  </Section>
  <Section mode="dark" direct="history">
    <div class="py-20 md:pt-36 px-10 md:px-16 lg:px-72 flex flex-col items-center justify-center">
      <div><H3 text="kami berkomitmen pada" ></H3></div>
      <div
        class=" mt-20 flex flex-col md:flex-row gap-6 md:gap-16 justify-between items-center"
      >
        <div class="md:w-1/2 flex flex-col justify-center items-center">
          <div
            class="bg-secondary-bright md:p-16 p-6 md:rounded-2xl rounded-t-4xl rounded-b-md text-primary appear-anim"
          >
            <H3 text="VISI" />
            <p
              class="leading-relaxed mt-4 text-md font-isi md:px-5 lg:px-10 lg:text-xl text-justify"
            >
              Mewujudkan jantung Himpunan yang integratif, akuntabel, dan
              profesional sebagai poros stabilitas serta sinergitas HIMAFI UIN
              Syarif Hidayatullah Jakarta.
            </p>
          </div>
          <br class="mt-10" />
          <div
            class="bg-teritary md:p-16 p-6 rounded-md md:rounded-2xl text-primary appear-anim"
          >
            <H3 text="MISI" />
            <ol
              class="leading-relaxed mt-4 ml-4 text-md font-isi md:px-5 lg:px-10 lg:text-xl text-justify list-decimal"
            >
              <li>
                Mewujudkan tata kelola HIMAFI yang integratif dan efisien.
              </li>
              <li>
                Menjamin transparansi dan akuntabilitas finansial yang
                tepercaya.
              </li>
              <li>Mengoptimalkan monitoring dan evaluasi kinerja pengurus.</li>
              <li>Membangun budaya kerja profesional dan kekeluargaan.</li>
              <li>Menjaga regenerasi melalui pengarsipan yang sistematis.</li>
            </ol>
          </div>
        </div>
        <div
          class="md:w-1/2 flex flex-col items-center bg-green-samanvaya text-secondary-bright rounded-b-4xl rounded-t-md md:rounded-2xl md:p-16 p-6 appear-anim"
        >
          <H3 text="Tujuan" mode="center" />
          <p
            class="leading-relaxed mt-4 text-md font-isi md:px-5 lg:px-10 lg:text-xl text-justify"
          >
            HIMAFI merupakan organisasi yang berada dibawah Program Studi Fisika
            Fakultas Sains dan Teknologi Universitas Islam Negeri Syarif
            Hidayatullah Jakarta, yang memiliki garis koordinasi dengan
            Organisasi Legislatif dan Organisasi Eksekutif tingkat Fakultas
            Sains dan Teknologi Universitas Islam Negeri Syarif Hidayatullah
            Jakarta dan Ikatan Himpunan Mahasiswa Fisika Nasional. HIMAFI juga
            menyediakan wadah yang bermanfaat untuk mengembangkan sumber daya
            mahasiswa dan menampung segala aspirasi mahasiswa aktif Fisika UIN
            Syarif Hidayatullah Jakarta.
          </p>
        </div>
      </div>
      <p class="mt-10 text-md font-isi md:px-5 lg:px-10 lg:text-xl text-center">Pelajari lebih lanjut tentang kabinet Samanvaya dan filosofi logo Samanvaya dibawah ini ⬇️⬇️⬇️</p>
      <CTA mode="dark" Href="/news/kabinetsamanvaya"></CTA>
    </div>
    <Section  direct="structure">
      <div class="pt-24">
        <div class="mx-auto px-6 md:px-0">
          <H3 text="Struktur" mode="center" />
          <p
            class="leading-relaxed mt-4 text-md font-isi md:px-10 lg:text-xl text-center"
          >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam,
            quos!
          </p>
        </div>
        <div></div>
      </div>
    </Section>
  </Section>
</Layout>
