---
const { text = "Pelajari lebih lanjut", Href, mode = "bright" } = Astro.props;
const baseClass = `flex mt-8 justify-center md:justify-start rounded-full md:px-10 hover:opacity-90 appear-anim `;
const modeClass =
  mode === "dark"
    ? "bg-secondary-bright text-primary-darken"
    : "bg-primary-darken text-secondary-bright";
---

<div class=`${baseClass} ${modeClass}`>
  <a
    href={Href}
    class="inline-flex justify-center items-center py-4 px-10 cursor-pointer rounded-full text-xl font-heading font-bold transition-all"
    >{text}</a
  >
</div>
