---
import himafiLogo from "../assets/logo/himafi.png";
import uinLogo from "../assets/logo/uin-jakarta.png";
import fstLogo from "../assets/logo/fstLogo.png";
import { Image } from "astro:assets";
import { version } from "../../package.json";
import Paragraph from "./Paragraph.astro";
---

<footer class="bg-green-900 text-neutralwhite">
  <div class="mx-auto w-full max-w-7xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="/" class="flex items-center">
          <Image src={uinLogo} class="w-20 me-3" alt="HIMAFI" />
          <Image src={fstLogo} class="w-20 me-3" alt="HIMAFI" />
          <Image src={himafiLogo} class="w-20 me-3" alt="HIMAFI" />
          <span
            class="text-heading self-center font-heading text-2xl font-semibold whitespace-nowrap hidden md:block"
            >HIMAFI</span
          >
        </a>
        <p class="mt-4 container max-w-md">
          LT 7 Gedung FST UIN Jakarta, UIN Jakarta, Jl. Lkr. Kampus 1, Cempaka
          Putih, Ciputat Timur, Kota Tangerang Selatan, Banten 15412
        </p>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-heading uppercase">
            Halaman
          </h2>
          <ul class="text-body font-medium">
            <li class="">
              <a href="/" class="hover:underline">Beranda</a>
            </li>
            <li>
              <a href="/about" class="hover:underline">Tentang</a>
            </li>
            <li>
              <a href="/news" class="hover:underline">Berita</a>
            </li>
            <li>
              <a href="/" class="hover:underline">Kontak</a>
            </li>
            <li>
              <a href="/" class="hover:underline">Utilitas</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-heading uppercase">
            Lihat juga
          </h2>
          <ul class="text-body font-medium">
            <li class="">
              <a href="https://www.uinjkt.ac.id/id" class="hover:underline"
                >UIN Syarif Hidayyatullah Jakarta</a
              >
            </li>
            <li class="">
              <a
                href="https://fst.uinjkt.ac.id/id/kegiatan-dema-fst"
                class="hover:underline">Fakultas Sains dan Teknologi</a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/demafst_uinjkt/"
                class="hover:underline">Dema FST UIN Jakarta</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-default sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-body sm:text-center"
        >© 2026 <a href="/" class="hover:underline">HIMAFI™</a>. All Rights
        Reserved.
      </span>
      <span class="text-sm text-body sm:text-center"
        >© 2026 HIMAFI - V {version}
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a
          href="https://www.instagram.com/himafi.uinjkt/"
          class="text-body hover:text-heading ms-5"
          target="_blank"
        >
          <img
            src="/src/assets/logo/instagram.svg"
            width="24"
            height="24"
            class="w-5 h-5"
            alt="instagram"
            loading="lazy"
          />
          <span class="sr-only">Instagram</span>
        </a>
        <a
          href="https://www.youtube.com/@himafiuinjakarta"
          class="text-body hover:text-heading ms-5"
          target="_blank"
        >
          <img
            src="/src/assets/logo/youtube.svg"
            width="24"
            height="24"
            class="w-5 h-5"
            alt="youtube"
            loading="lazy"
          />
          <span class="sr-only">Youtube</span>
        </a>
        <a
          href="https://www.tiktok.com/@himafi.uinjkt"
          class="text-body hover:text-heading ms-5"
          target="_blank"
        >
          <img
            src="/src/assets/logo/tiktok.svg"
            width="24"
            height="24"
            class="w-5 h-5"
            alt="tiktok"
            loading="lazy"
          />
          <span class="sr-only">tiktok</span>
        </a>
      </div>
    </div>
  </div>
</footer>
