---
const { text, spanText = "", mode = "left" } = Astro.props;

const textMode = mode === "center" ? "md:text-center" : "md:text-left";
---

<h1 class=`font-heading text-fluid-h1 font-bold text-center ${textMode}`>
  {text}<span class="text-green-900">{spanText}</span>
</h1>
