---
const { text, mode = "left" } = Astro.props;
const textMode = mode === "center" ? "md:text-center" : "md:text-left";
---

<h2 class=`text-center font-subhead text-fluid-h2  ${textMode} `>
  {text}
</h2>
