---
const { text, mode = "left" } = Astro.props;

const textMode = mode === "center" ? "md:text-center" : "md:text-justify";
---

<h3
  class=`font-bold  font-heading text-center ${textMode} clamp(1.25rem, 2.5vw + 0.25rem, 2rem)  `
>
  {text}
</h3>
