---
const { text, mode = "left" } = Astro.props;

const textMode = mode === "center" ? "md:text-center" : "md:text-justify";
---

<h1
  class=`font-bold px-3 font-heading text-center ${textMode} lg:text-7xl md:px-9 text-4xl `
>
  {text}
</h1>
