---
const { text, mode = "left" } = Astro.props;
const textMode = mode === "center" ? "md:text-center" : "md:text-justify";
---

<p
  class=`text-center text-fluid-body leading-relaxed font-isi  ${textMode}`
>
  {text}
</p>
