---
import { Image } from "astro:assets";
import UinLogo from "../assets/logo/uin-jakarta.png";
import kalacitraLogo from "../assets/logo/kalacitra.webp";
import forsaLogo from "../assets/logo/Forsa.jpg";
import himafiUnsriLogo from "../assets/logo/HIMAFI-Unsri.jpeg";
import himatansiUnjam from "../assets/logo/Himatansi-unja.jpg";
import himkaUinjktLogo from "../assets/logo/HIMKA-Uinjkt.png";
import himsiUinjktLogo from "../assets/logo/HIMSI-UINJKT.jpg";
import himtiUinjktLogo from "../assets/logo/HIMTI-UINJKT.webp";
import hmjAgriUinjktLogo from "../assets/logo/HMJ-Agri-UINKT.jpg";
import kmfbUb from "../assets/logo/kmfb-ub.webp";
import ldkSyahidFst from "../assets/logo/ldk-syahid.jpg";
import pionirLogo from "../assets/logo/pionir-muda.jpg";
import pusatKarirUinLogo from "../assets/logo/pusat-karier.jpg";
import pufaLogo from "../assets/logo/pufa.png";

const partners = [
  { src: UinLogo, alt: "UIN Jakarta" },
  { src: kalacitraLogo, alt: "Kala Citra" },
  { src: forsaLogo, alt: "Forsa UIN Jakarta" },
  { src: himafiUnsriLogo, alt: "HIMAFI Universitas Sriwijaya" },
  { src: himatansiUnjam, alt: "Himatansi Universitas Jambi" },
  { src: himkaUinjktLogo, alt: "HIMKA UIN Jakarta" },
  { src: himsiUinjktLogo, alt: "HIMSI UIN Jakarta" },
  { src: himtiUinjktLogo, alt: "HIMTI UIN Jakarta" },
  { src: hmjAgriUinjktLogo, alt: "HMJ AGRI UIN Jakarta" },
  { src: kmfbUb, alt: "KMFBUB" },
  { src: ldkSyahidFst, alt: "LDK SYAHID FST UIN Jakarta" },
  { src: pionirLogo, alt: "Pionir UIN Jakarta" },
  { src: pusatKarirUinLogo, alt: "Pusat Karir UIN Jakarta" },
  { src: pufaLogo, alt: "PUFA" },
];
const doubled = [...partners, ...partners];
---

<section
  class="bg-secondary-bright flex flex-col py-10 text-primary-darken items-center md:justify-between overflow-x-hidden"
>
  <div>
    <h1 class="headline-text-center text-4xl md:block font-bold">
      Our Partner
    </h1>
  </div>

  <!-- Wrapper animasi, space-x gw kecilin dikit di HP (8) dan gedein di Desktop (16) -->
  <div class="flex space-x-8 md:space-x-16 overflow-hidden w-full mt-8">
    <!-- UL Pertama (tambahin shrink-0) -->
    <ul
      class="flex space-x-8 md:space-x-16 animate-loop-scroll shrink-0 items-center"
    >
      {
        doubled.map(({ src, alt }) => (
          <li class="shrink-0">
            <Image
              src={src}
              class="w-28 h-14 md:w-40 md:h-20 object-contain"
              alt={alt}
            />
          </li>
        ))
      }
    </ul>

    <!-- UL Kedua (Duplikat buat looping, tambahin shrink-0 juga) -->
    <ul
      class="flex space-x-8 md:space-x-16 animate-loop-scroll shrink-0 items-center"
      aria-hidden="true"
    >
      {
        doubled.map(({ src, alt }) => (
          <li class="shrink-0">
            <Image
              src={src}
              class="w-28 h-14 md:w-40 md:h-20 object-contain"
              alt={alt}
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>
<!-- parters -->
