---
const {
  title = "Lorem",
  content = "Lorem ipsum dolor sit amet",
  img,
} = Astro.props;
import { Image } from "astro:assets";
---

<div class="appear-anim">
  <article
    class="overflow-hidden rounded-lg programs-card appear-anim shadow-sm transition hover:shadow-lg mb-10 md:mb-0"
  >
    <Image alt="news1" src={img} class="h-56 w-full object-cover" />

    <div class="bg-secondary-bright p-4 sm:p-6">
      <a href="/">
        <h3 class="text-primary-darken text-center font-bold mt-1 text-xl">
          {title}
        </h3>
      </a>

      <p class="mt-2 line-clamp-3 text-center text-sm/relaxed text-gray-500">
        {content}
      </p>
    </div>
  </article>
</div>
