---
const { mode = "light", direct = "" } = Astro.props;

const baseClass = `min-h-screen w-full flex items-center justify-center`;
const modeClass =
  mode === "dark"
    ? "bg-primary-darken text-secondary-bright"
    : "bg-secondary-bright text-primary";
---

<section class=`${baseClass} ${modeClass}` id=`${direct}`>
  <slot />
</section>
