<main
  class="grid min-h-screen place-items-center bg-primary-darken px-6 py-24 sm:py-32 lg:px-8"
>
  <div class="text-center">
    <h1
      class="mt-4 text-5xl font-semibold tracking-tight text-balance text-secondary sm:text-7xl"
    >
      Page lagi dibuat
    </h1>
    <p class="mt-6 text-lg font-medium text-pretty text-secondary sm:text-xl/8">
      Lagi dibuat gengg sabar nyyakkk.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        href="/"
        class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-secondary-bright shadow-xs hover:bg-green-samanvaya focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-darken"
        >Balik ke beranda</a
      >
      <a href="/contact" class="text-sm font-semibold text-secondary-bright"
        >Contact support <span aria-hidden="true">&rarr;</span></a
      >
    </div>
  </div>
</main>
